---
export interface Props {
  href: string;
  className?: string;
  ariaLabel?: string;
  title?: string;
  disabled?: boolean;
}

const { href, className, ariaLabel, title, disabled = false } = Astro.props;
---

{
  disabled ? (
    <span
      class:list={[
        "group text-skin-dim pointer-events-none inline-block opacity-50 select-none",
        className,
      ]}
      aria-label={ariaLabel}
      title={title}
      aria-disabled={disabled}
    >
      <slot />
    </span>
  ) : (
    <a
      {href}
      class:list={[
        "group text-skin-dim hover:text-skin-accent inline-block transition-colors duration-[120ms]",
        className,
      ]}
      aria-label={ariaLabel}
      title={title}
    >
      <slot />
    </a>
  )
}
