---
import LinkButton from "./LinkButton.astro";

export interface Props {
  currentPage: number;
  totalPages: number;
  prevUrl: string;
  nextUrl: string;
}

const { currentPage, totalPages, prevUrl, nextUrl } = Astro.props;

const isFirstPage = currentPage <= 1;
const isLastPage = currentPage >= totalPages;
---

{
  totalPages > 1 && (
    <nav class="pagination-wrapper" aria-label="Pagination">
      <p class="pagination-line">
        <LinkButton
          disabled={isFirstPage}
          href={prevUrl}
          ariaLabel="Previous"
          className="select-none"
        >
          prev
        </LinkButton>
        <span class="text-skin-dim">
          -- page {currentPage} of {totalPages} --
        </span>
        <LinkButton
          disabled={isLastPage}
          href={nextUrl}
          ariaLabel="Next"
          className="select-none"
        >
          next
        </LinkButton>
      </p>
    </nav>
  )
}

<style>
  @reference "../styles/base.css";

  .pagination-wrapper {
    @apply mt-auto mb-8 flex justify-center;
  }
  .pagination-line {
    @apply flex items-center gap-4;
  }
</style>
